body{
  margin:0;
  font-family: Arial, Helvetica, sans-serif;
}

.container{

  height:100vh;

  display:flex;
  justify-content:center;
  align-items:center;

  background: linear-gradient(90deg, #AED1EF, #F2DFC1, #F0B9EF);
}

.form-container{

  width:320px;
  padding:30px;

  text-align:center;

  background: rgba(255,255,255,0.25);
  backdrop-filter: blur(10px);

  border-radius:15px;

  box-shadow:0 8px 32px rgba(0,0,0,0.2);

  transition: all 0.3s ease;
}

.form-container:hover{

  transform: scale(1.05) translateY(-5px);

  box-shadow:0 15px 40px rgba(0,0,0,0.3);
}

form{
  display:flex;
  flex-direction:column;
}

input{
  width:100%;
  margin:10px 0;
  padding:10px;
  border:none;
  border-radius:8px;
  box-sizing:border-box;
}

.highlight{
  font-weight:bold;
  color: #000000;
}

button{

  padding:10px;

  margin-top:10px;

  border:none;

  border-radius:8px;

  background:#2d7a3e;

  color:white;

  cursor:pointer;
}

button:hover{
  background:#256633;
}

p{

  margin-top:15px;

  cursor:pointer;

  color:#333;
}

.error{
color:red;
margin-top:10px;
}

.success{
color:green;
margin-top:10px;
}

.password-box{
position: relative;
width: 100%;
}

.password-box input{
width: 100%;
padding:10px;
padding-right:40px;
box-sizing:border-box;
}

.eye-icon{
position:absolute;
right:12px;
top:50%;
transform:translateY(-50%);
cursor:pointer;
color:#666;
font-size:16px;
}

.eye-icon:hover{
color:#111111;
}